{
  "tabWidth": 2,
  "useTabs": false,
  "importOrder": ["^@common/(.*)$", "^@components/(.*)$", "^@hooks/(.*)$", "^@store/(.*)$", "^@mui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
